# Исследование и визуализация портрета пользователя (сторонника) телеком-компании

In [1]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

In [2]:
path_to_db = '/datasets/telecomm_csi.db'
engine = create_engine(f'sqlite:///{path_to_db}', echo = False)

In [3]:
query = """
        SELECT user.user_id,
               user.lt_day,
       CASE
           WHEN user.lt_day <= 365 THEN 'новый'
           WHEN user.lt_day > 365 THEN 'не новый'
       END AS is_new,
       
               user.age,
               
       CASE 
           WHEN user.gender_segment = 1 THEN 'женщина'
           WHEN user.gender_segment = 0 THEN 'мужчина'
       END AS gender_segment,
       
               user.os_name,
               user.cpe_type_name,
               location.country,
               location.city,
               age_segment.title AS age_segment,
               traffic_segment.title AS traffic_segment,
               lifetime_segment.title AS lifetime_segment,
               user.nps_score,
       CASE 
           WHEN user.nps_score <= 6 THEN 'критик'
           WHEN user.nps_score > 6 AND user.nps_score < 9 THEN 'нейтральный'
           WHEN user.nps_score >= 9 THEN 'сторонник'
       END AS nps_group
FROM user AS user
JOIN location AS location ON user.location_id = location.location_id
JOIN age_segment AS age_segment ON user.age_gr_id = age_segment.age_gr_id
JOIN traffic_segment AS traffic_segment ON user.tr_gr_id = traffic_segment.tr_gr_id
JOIN lifetime_segment AS lifetime_segment ON user.lt_gr_id = lifetime_segment.lt_gr_id;
"""

In [4]:
data = pd.read_sql(query, engine)
data.head(3)

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,не новый,45.0,женщина,ANDROID,SMARTPHONE,Россия,Уфа,05 45-54,04 1-5,08 36+,10,сторонник
1,A001WF,2344,не новый,53.0,мужчина,ANDROID,SMARTPHONE,Россия,Киров,05 45-54,04 1-5,08 36+,10,сторонник
2,A003Q7,467,не новый,57.0,мужчина,ANDROID,SMARTPHONE,Россия,Москва,06 55-64,08 20-25,06 13-24,10,сторонник

In [5]:
data.to_csv('data_telecom.csv', index=False)

### Cсылка на дашборд на сайте Tableau Public:

https://public.tableau.com/app/profile/natali.sedova/viz/NPS__16512155537250/Dashboard12

### Ссылка на pdf-файл с презентацией:

https://disk.yandex.ru/i/584W-pDKLUIw0Q